/* SLIMBOX */

#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: #B99067;
}

#lbBottomContainer {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: #FFE7BD;
}

.lbLoading {
	background: #B99067 url(loading.gif) no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 6px solid #B99067;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0; background: transparent no-repeat 0 15%;
}

#lbPrevLink:hover {
	background: transparent url(prev.png) no-repeat 0 15%;
}

#lbNextLink {
	right: 0; background: transparent no-repeat 100% 15%;
}

#lbNextLink:hover {
	background: transparent url(next.png) no-repeat 100% 15%;
}

#lbBottom {
	font-family: Georgia, Times New Roman, serif;
	font-size: 10.5px;
	font-weight: normal;
	color: #000000;
	line-height: 1.4em;
	text-align: left;
	border: 6px solid #FFE7BD;
}

#lbCaption, #lbNumber {
	margin-right: 40px;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 32px;
	height: 40px;
	background: transparent url(close.gif) no-repeat center;
	margin: 5px 0;
	outline: none;
}
